<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.025" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="world" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="5.0" />
		<param name="filter_ground" value="true" />
		<param name="ground_filter/distance" value="0.3" />
		
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/cloud" />
	
	</node>
</launch>
