<launch>
    <!-- Load the map server -->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find motion_pkg)/map/my_map.yaml"/> -->

    <!-- Load the URDF into the parameter server -->

    
    <!-- Use robot_state_publisher to publish the robot's state -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="50.0" />
        <remap from="joint_states" to="/joint_states" />
        <param name="base_global_planner" value="global_planner/RRTGlobalPlanner"/>
<rosparam file="$(find rrt-global-planner)/params/rrt_global_planner.yaml" command="load" />
    </node> -->
    
    
    <!-- Move Base -->
    <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen">
        <rosparam file="$(find motion_pkg)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find motion_pkg)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find motion_pkg)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find motion_pkg)/config/global_costmap_params.yaml" command="load" />
        <!-- <rosparam file="$(find motion_pkg)/config/move_base_params.yaml" command="load" /> -->
        <rosparam param="recovery_behaviors"> [ { name: "move_slow_and_clear", type: 'move_slow_and_clear/MoveSlowAndClear' } ] </rosparam>
        <rosparam file="$(find motion_pkg)/config/base_local_planner_params.yaml" command="load" />
        <param name="clearing_rotation_allowed" value="false"/>
        <param name="dwa_local_planner/path_distance_bias" value="60"/>

    </node>
    
    <!-- RViz -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motion_pkg)/rviz/eforsuz.rviz"/> -->
</launch>
